<?xml version="1.0"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請前往
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="openid.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <appSettings>
    <add key="DSN" value="uS+M0MNBAVdMJfPnwPheXYnuJAEJ2vL7qc1XFzAdQW/nYbrBzBrPEaDC760euZB4BDuFSiLm/V53y1LUp/NjwpJkMM66DuxK"/>
 
  </appSettings>
  <system.codedom>
   
  </system.codedom>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <openid.Properties.Settings>
      <setting name="openid_CRMwebReference_BFCRMWebService" serializeAs="String">
        <value>http://10.128.252.22:222/BFCRMWebService.asmx</value>
      </setting>
    </openid.Properties.Settings>
  </applicationSettings>
</configuration>